__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/

.env
.secrets

Dockerfile
docker-compose*
.dockerignore

.git
.gitignore

.vscode/
.idea/
*.swp
*.swo

uploads/
*.db
*.sqlite3
dummy_archive.zip